* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template: repeat(auto-fit, minmax(100px, 1fr))/repeat(auto-fit, minmax(300px, 3fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    box-shadow: 0 0.5rem 1rem rgb(180, 178, 178);
    padding: 1.5rem;
}

.card ul li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.3rem;
}

body > button {
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    border: solid black 0.15rem;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 17rem;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

form {
    position: relative;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    font-size: 1.3rem;
}

legend {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

fieldset > div {
    display: flex;
    flex-flow: row wrap;
    gap: 0.3rem;
}

.close-button {
    margin-top: 1rem;
    position: absolute;
    right: 3%;
    top: 0;
    padding: 0.5rem;
    font-size: 1.1rem;
}